<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Scans within the base package of the application for @Component classes to configure as beans -->
    <context:component-scan base-package="com.test.project"/>

    <context:property-placeholder location="classpath:application.properties"/>
	
	<mvc:annotation-driven/>
	
	<tx:annotation-driven/>
	
    <mvc:resources mapping="/resources/**" location="/resources/"/>
<!-- 	<mvc:default-servlet-handler/> -->
	
	<bean id="sessionFactory"
	  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSource" />
	    <property name="packagesToScan" value="com.test.project.model" />
	    <property name="hibernateProperties">
	        <props>
	            <prop key="hibernate.hbm2ddl.auto">true</prop>
	            <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
	        </props>
	    </property>
	</bean>
	 
	<bean id="dataSource"
	  class="org.apache.tomcat.dbcp.dbcp.BasicDataSource">
	    <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
	    <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
	    <property name="username" value="mlopez" />
	    <property name="password" value="mlopez220989" />
	</bean>
	 
	<bean id="transactionManager"
	  class="org.springframework.orm.hibernate4.HibernateTransactionManager">
	    <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	 
	<bean id="persistenceExceptionTranslationPostProcessor"
	  class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
  
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
    
</beans>